alembic==1.12.1
amqp==5.3.1
annotated-types==0.7.0
anyio==3.7.1
argcomplete==3.1.4
asyncpg==0.29.0
bcrypt==5.0.0
billiard==4.2.2
blinker==1.7.0
celery==5.3.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
clarabel==0.11.1
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
contourpy==1.3.3
coverage==7.11.3
cryptography==41.0.7
cvxpy==1.7.3
cycler==0.12.1
dbus-python==1.3.2
distro==1.9.0
distro-info==1.7+build1
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.1.0
fastapi==0.104.1
fonttools==4.60.1
geopandas==1.1.1
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httplib2==0.20.4
httptools==0.7.1
httpx==0.25.2
-e git+https://github.com/leixiaohui-1974/HydroClaude@e3c68b4453b907e1c28d07b711fd0d0256000651#egg=hydroclaude_backend&subdirectory=web/backend
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
kombu==5.6.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
llvmlite==0.45.1
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.7
networkx==3.5
numba==0.62.1
numpy==2.3.4
oauthlib==3.2.2
osqp==1.0.5
packaging==25.0
pandas==2.3.3
passlib==1.7.4
pillow==12.0.0
playwright==1.56.0
pluggy==1.6.0
ply==3.11
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
PuLP==3.3.0
pyasn1==0.6.1
pycparser==2.23
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic_core==2.14.1
pyee==13.0.0
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
pyogrio==0.11.1
pyomo==6.9.5
pyparsing==3.1.1
pyproj==3.7.2
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-apt==2.7.7+ubuntu5
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2025.2
PyYAML==6.0.1
redis==5.0.1
requests==2.32.5
rsa==4.9.1
scipy==1.16.3
scs==3.2.9
setuptools==68.1.2
shapely==2.1.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.23
starlette==0.27.0
tabulate==0.9.0
toml==0.10.2
typing_extensions==4.15.0
tzdata==2025.2
unattended-upgrades==0.1
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.22.1
vine==5.1.0
wadllib==1.3.6
watchfiles==1.1.1
wcwidth==0.2.14
websockets==15.0.1
wheel==0.42.0
xmltodict==0.13.0
yq==3.1.0
